<h1>All Posts</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Title</th>
			<th>Status</th>
			<th>Allow Comments</th>
			<th>Image</th>
			<th>Edit Post</th>
			<th>Delete Post</th>
		</tr>
	<tbody>
		{{#each posts}}
		<tr>
			<td>{{id}}</td>
			<td>{{date}}</td>
			<td>{{title}}</td>
			<td>{{status}}</td>
			<td>{{allowComments}}</td>
			<td><img class="img-thumbnail" src="/uploads/{{file}}" alt="image"></td>
			<td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
			<td>
				<form action="/admin/posts/{{id}}?_method=DELETE" method="post">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
	</thead>

</table>
