<h1>My Posts</h1>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Id</th>
			<th>Date</th>
			<th>Title</th>
			<th>Status</th>
			<th>Category</th>
			<th>Allow Comments</th>
			<th>Image</th>
			<th>Link to the posts</th>
			<th>Edit Post</th>
			<th>Delete Post</th>
		</tr>
	<tbody>
		{{#each posts}}
		<tr>
			<td>{{id}}</td>
			<td>{{generateTime date "L"}}</td>
			<td>{{title}}</td>
			<td>{{status}}</td>
			<td>{{category.name}}</td>
			<td>{{allowComments}}</td>
			{{#if file}}
			<td><img class="img-thumbnail" width="200px" src="/uploads/{{file}}" alt="image"></td>
			{{else}}
			<td><img class="img-thumbnail" width="200px" alt="image" src="http://placehold.it/200x150"></td>
			{{/if}}
			<td><a href="/post/{{id}}">View</a></td>
			<td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
			<td>
				<form action="/admin/posts/{{id}}?_method=DELETE" method="post">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
	</thead>

</table>
