<h1>Comments</h1>;
<table class="table">

	<thead>
		<tr>
			<th>id</th>
			<th>owner</th>
			<th>Status</th>
			<th>Date</th>
			<th>Delete Post</th>
		</tr>
	</thead>
	<tbody>
		{{#each comments}}
		<tr>
			<th scope="row">{{id}}</th>
			<td>{{user.firstName}} {{user.lastName}}</td>
			<td>
				<input type="checkbox" name="approveComment" data-id="{{id}}" {{#if approveComment}} checked {{/if}}>
			</td>
			<td>{{generateTime date 'MMMM Do YYYY'}}</td>
			<td>
				<form action="/admin/comments/{{id}}?_method=DELETE" method="POST">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
